{% extends "base.html.twig" %}
{% block title %}MostrarUsuarios{% endblock %}
{% block section %}
{% if paciente_update == true %}
	<div class="card mb-3">
		<div class="card-header">
			<div class="text-center">
				<h2>Pacientes</h1>
			</div>
		</div>

		  {% if error == 'sistema' %}
			<p class='alert-danger'>*Ocurrio un incoveniente con el sistema, por favor vuelva a intentar más tarde.</p>
	  	  {% endif %}

		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<tr>
						<th>DNI</th>
						<th>Nombre</th>
						<th>Apellido</th>
			   			<th>Opcion</th>
					</tr>
					{% for item in resources %}
						<form action="/PHPScript/modificarPacienteScript.php" method="post">
							<tr>
								<th><input type="hidden" name="dni" value="{{ item.dni }}">{{ item.dni }}</th>
								<th>{{ item.nombre }}</th>
								<th>{{ item.apellido }}</th>
								<th><button type="submit" class="btn btn-primary btn-sm" ><p class="fa fa-pencil-square-o">Modificar</p></button></th>
							</tr>
						</form>
					{% endfor %}
				</table>
				<ul class="pagination">
					<li class="page-item"><a class="page-link" href="{{prevPage}}">&laquo;</a></li>
					{% for i in 1..cantPages %}
						 <li class="page-item"><a class="page-link" href='eliminarPacientes.php?page={{i}}'> {{ i }}</a></li>
					{% endfor %}
					<li class="page-item"><a class="page-link "  href="{{sigPage}}">&raquo;</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}
