{% extends "base.html.twig" %}
{% block title %}ModificarUsuario{% endblock %}
{% block section %}
	  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Modificar Paciente</div>
      <div class="card-body">
        <form action="/PHPScript/modificarPaciente.php" method="post">
			<input type="hidden" name="modificarDocumento" value="{{ modificarDocumento }}">
          <div class="form-group">
            <label>Nombre*</label>
            <input class="form-control" name="Nombre" id="Nombre" type="text" aria-describedby="emailHelp" value="{{ nombre }}" required>
          </div>
          <div class="form-group">
            <label>Apellido*</label>
            <input class="form-control" name="Apellido" id="Apellido" type="text" value="{{ apellido }}" required>
          </div>
          <div class="form-group">
            <label>Fecha de nacimiento*</label>
            <input class="form-control" name="nacimiento" id="nacimiento" type="text" value="{{ nacimiento }}" required>
          </div>
          <div class="form-group">
            <label>Documento*</label>
            <input class="form-control" name="Documento" id="Documento" type="text" value="{{ modificarDocumento }}" required>
          </div>
          <div class="form-group">
            <label>Domicilio*</label>
            <input class="form-control" name="Domicilio" id="Domicilio" type="text" value="{{ domicilio }}" required>
          </div>
          <div class="form-group">
            <label>Telefono</label>
            <input class="form-control" name="Telefono" id="Telefono" type="text" value="{{ telefono }}">
          </div>
          <div class="form-group">
            <label>Obra Social</label>
            <input class="form-control" name="Obra" id="Obra" type="text" value="{{ obra }}">
          </div>
          <div class="form-group">          <div class="form-group">
            <label for="exampleInputName">Genero*</label>
          </div>
		  <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
				  <input type="radio" name="gender" value=1 {% if gender == 1 %} checked {% endif %}> Masculino
				  <input type="radio" name="gender" value=2 {% if gender == 2 %} checked {% endif %}> Femenino
              </div>
            </div>
          </div>
          <div class="form-group">          <div class="form-group">
            <label for="exampleInputName">Tipo de documento*</label>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
				  <input type="radio" name="tipoDocumento" value=1 {% if tipoDocumento == 1 %} checked {% endif %}> Nacional
				  <input type="radio" name="tipoDocumento" value=2 {% if tipoDocumento == 2 %} checked {% endif %}> Extranjero
              </div>
            </div>
          </div>

          </div>
		  {% if error == 'campoVacio' %}
		    <p class='alert-danger'>*Uno de los campos obligatorios esta vacio, por favor vualva a intentar.</p>
		  {% elseif error == 'sistema' %}
			<p class='alert-danger'>*Ocurrio un incoveniente con el sistema, por favor vuelva a intentar más tarde.</p>
	  	  {% endif %}
          <input class="btn btn-primary btn-block" type="submit" value="Modificar"></input>
        </form>
        <div class="text-center">
         
        </div>
      </div>
    </div>
  </div>
{% endblock %}

